{% extends "card/base.html" %}
{% load static %}
{% block content %}
        <br>
        {% if user.name %}
        <h5 class="text-center text-warning"><strong class="h2">{{user.name}}</strong> is Wishing you and your Family</h5>
        {% else %}
        <h5 class="text-center text-warning">Wishing you and your Family a Very Happy Ramadan</h5>
        {% endif %}

        <div class="row">
            <div class="col-lg-6 mx-auto col text-center">
                <div class="card m-5" style="background: transparent; border-style: none;">
                    {% if user.profile_pic %}
                    <img class="card-img-top" src="{{user.profile_pic.url}}" alt="">
                    {% else %}
                    <img class="card-img-top" src="{% static '/image/pic2.png' %}" alt="">
                    {% endif %}
                    <img class="card-img-bottom" src="{% static '/image/mubarak.gif' %}">
                </div>
                <a id="share" href="http://whatsapp://send?text= {{user.name}}  ने आपके लिए कुछ भेजा है \nयहाँ क्लिक करें \n👇👇\n https://mubarakbaad.online/wishing/{{user.id}}" data-action="share/whatsapp/share"><img src="{% static 'image/icon.png' %}" height="35" width="35"><button
                        class="btn btn-success">Whatsapp पर शेयर करें</button></a>
                <br>
                <br>
                <br>
                <br>
                <p class="h3 text-info text-center">अपना कार्ड बनाएं<br> <i class="fa fa-hand-o-down " aria-hidden="true"></i>
                </p>
                <a class="btn btn-success" href="{% url 'create' %}">Create your own card</a>
                <br>
                <p>&nbsp;</p>
            </div>
        </div>
<script>
    // document.getElementById('share').href = 'whatsapp://send?text=' + {{user.name}} + ' ने आपके लिए कुछ भेजा है \nयहाँ क्लिक करें \n👇👇\n https://mubarakbaad.online/wishing/{{user.id}};
</script>
{% endblock %}